* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    background: #2f74ce;
    background: -webkit-linear-gradient(to left, #0866e0, #236ed1);
    background: linear-gradient(to left, #0866e0, #2374dd);
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
    font-size: 5px;
}

li:hover {
    transform: scale(0.8);
    transition: 0.5s ease;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 5px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links-1 {
    display: none;
}

.nav-links ul li:hover .nav-links-1 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 15px;
    margin-left: -15px;
}

.nav-links ul li:hover .nav-links-1 {
    display: block;
    margin: 10px;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #0ad614;
    background: #0eb308;
    transition: 2s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

body {
    margin: 0;
    color: #6a6f8c;
    background: #529bd6;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

.logo {
    margin-top: 5px;
    font-size: small;
    text-transform: uppercase;
    width: 150px;
}

.text {
    text-align: left;
    float: right;
}

.welcome {
    margin-left: 5%;
    position: absolute;
    color: #fff;
    font-family: sans-serif;
}

nav {
    background: #0866e0;
    background: -webkit-linear-gradient(to left, #0866e0, #0866e0);
    background: linear-gradient(to left, #0866e0, #0866e0);
    height: 115px;
    width: 100%;
    padding: 0.5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: border-radius;
    transition-property: border-radius;
}

nav :hover,
nav:focus,
nav:active {
    border-radius: 1em;
}

label.logo {
    color: white;
    font-size: 40px;
    line-height: 30px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

li:hover {
    transform: scale(0.8);
    transition: 0.5s ease;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
    padding: 6px 14px;
    font-weight: bold;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    color: #6e7eaa;
    transition: .10s;
    cursor: pointer;
    color: black;
    position: sticky;
    transform: scale(1.3);
}

.side-bar {
    width: 25px;
    height: 145vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;
}

.checkbtn {
    font-size: 30px;
    color: rgb(235, 232, 232);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #688ca7;
    }
    #check:checked~ul {
        left: 0;
    }
}

.main {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(maasai.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

*,
:after,
:before {
    box-sizing: border-box
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.image1 {
    margin: 40px auto;
    width: 80%;
    padding: 5px;
}

.text1 {
    text-align: justify;
    font-family: verdana;
}

.image2 {
    margin: 40px auto;
    width: 80%;
    padding: 5px;
}

.text2 {
    text-align: justify;
    font-family: verdana;
}

.image3 {
    margin: 40px auto;
    width: 80%;
    padding: 5px;
}

.text3 {
    text-align: justify;
    font-family: verdana;
}

.foot-lnk {
    text-align: center;
}

.bg-grey {
    background: #292929;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    color: grey;
}

footer p,
a {
    font-size: 18px;
    color: antiquewhite font-family: sans-serif;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: grey;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}

.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}

#blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #dad4d4;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #c74242;
    transition: all ease 0.3s;
}

@media(max-width:1250px) {
    .blog-box {
        width: 300px;
    }
}

@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}

@media(max-width:550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
    #blog {
        padding: 20px;
    }
}

* {
    box-sizing: border-box
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.content h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 10em;
    background-color: darkred;
}
.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content1 h2:nth-child(2)
{
    color: transparent;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0% 45%,15% 44%,32% 50%,54% 60%,70% 61%,84% 59%,100% 52%,100% 100%,0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 60%,16% 65%,34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%,0% 100%);
    }
}